

  <footer class="footer sticky-footer fondgrisdark">
    <div class="container">
      <div class="center">
        <div class="spacer4"></div>
        <span class="center textwhite visible-sm visible-md visible-lg">2015 © Synaptic</span>
      </div>
    </div>
  </footer>
